/* base styles, feel free to edit */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: Arial;
    background-color: #ffffff;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.LurkForWork-logo {
    margin-left: 56px;
    margin-top: 32px;
    color: #0a66c2;
    font-weight: bolder;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
}

.LurkForWork-logo span {
    background-color: #0a66c2;
    color: #ffffff;
    border-radius: 2px;
    padding: 0 4px 0 4px;
    margin-left: 4px;
}

.card-layout {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.window {
    width: 352px;
    margin: 0 auto;
    padding: 24px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    box-sizing: border-box;
}

.header-content h1 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9);
    padding: 0 0 4px 0;
    margin: 0;
}

.header-content p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}

/* .email {
    position: relative;
    margin: 0 auto;
}

.label-for-email {
    position: absolute;
    top: 35%;
    left: 15px;
    color: rgba(0, 0, 0, 0.6);
} */

#email,
#password,
#regis-email,
#regis-name,
#regis-password,
#password-confirm {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    font-size: 12pt;
}

#email:focus,
#password:focus {
    border-color: #0a66c2;
}

.hr {
    border: none;
    border-top: 1px solid;
    color: rgba(0, 0, 0, 0.15);
    overflow: visible;
    text-align: center;
}

.hr::after {
    display: inline-block;
    background: #fff;
    content: "or";
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    padding: 0 4px;
    position: relative;
    top: -11px;
    width: 30px;
}

.email,
.password,
.name,
.password-confirm {
    margin-top: 24px;
}

.sign-in {
    margin: 20px 0;
}

#sign-in-button,
#register-button {
    background-color: #0a66c2;
    border-radius: 25px;
    padding: 15px 20px;
    color: #ffffff;
    font-size: 14pt;
    border: none;
    width: 100%;
}

#sign-in-button:hover,
#register-button:hover {
    cursor: pointer;
    background-color: #094d92;
    height: 100%;
    border-radius: 28px;
}

.join-switch {
    text-align: center;
    font-size: 16px;
    margin-top: 32px;
    height: 32px;
}

.switch-btn {
    border: none;
    height: 32px;
    margin: 0;
    padding: 0 4px;
    background-color: #ffffff;
    color: #0a66c2;
    transition-duration: 0.167s;
    font-weight: bold;
}

.switch-btn:hover {
    cursor: pointer;
    background-color: #d0e8ff;
    height: 100%;
    border-radius: 28px;
    text-decoration: underline;
}

#error-box {
    width: 20vw;
    height: auto;
    position: absolute;
    top: 30vh;
    left: 40vw;
    border: 5px solid #0a66c2;
    border-radius: 15%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none !important;
}