/* base styles, feel free to edit */
html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial;
    background-color:#ffffff;
}

.login-interface {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.login-window {
    width: 380px;
    margin: auto;
}

.window {
    margin: auto 0;
    margin-bottom: 150px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-sizing: border-box;
}

.header-content h1 {
    margin-bottom: 0px;
}

.header-content p {
    font-size: 10pt;
}

#email,
#password {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    font-size: 12pt;
}

#email:focus {
    border-color: #0ac238;
}

.Linkedin-logo {
    margin-left: 56px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #0a66c2;
    font-weight: bolder;
}

.Linkedin-logo span {
    background-color: #0a66c2;
    color: #ffffff;
    border-radius: 3px;
    padding: 0 4px 0 3px;
}

.Or-join {
    display: flex;
    justify-content: space-evenly;
}

hr {
    display: inline-block;
    width: 40%;
}

.email,
.password {
    margin-top:24px;
}

.sign-in {
    margin: 20px 0;
}

#sign-in-button {
    background-color: #0a66c2;
    border-radius: 25px;
    padding: 15px 20px;
    color: #ffffff;
    font-size: 14pt;
    border: none;
    width: 100%;
}

.join-now {
    text-align: center;
    font-size: 11pt;
    margin-top: 32px;
    height: 32px;
}

.registration {
    border: none;
    height: 32px;
    margin: 0;
    padding: 0 8px;
    background-color: #ffffff;
    color: #0a66c2;
    font-size: 1.2rem;
    transition-duration: 0.167s;
}

.registration:hover {
    cursor: pointer;
    background-color: #d0e8ff;
    height: 100%;
    border-radius: 28px;
    text-decoration: underline;
}